.product-services-company-name{
  font-family: ADLam Display;
}

.company-name-product-section{
  font-size: 30px;
  color: rgb(54, 115, 214);
}

.zeke-cooperation{
  text-decoration: none;
}